 .header{
    height: 120px;
    width: 1046px;
    margin: 0 auto;
}
.header-left{
    float: left;
    line-height: 120px;
}
.header-left img{
    width: 150px;
    height: 52px;
}
.header-right{
    float: right;
    line-height: 120px;
    
}
.header-right ul{
    margin-top: 60px;
}
.header-right ul li{
   line-height: 13px;
    float: left;
}
.header-right ul li a{
    text-decoration: none;
    border-right: 1px solid #000;
    height: 13px;
    font-size: 16px;
    padding: 0 25px;
    color: #666;
} 
.header-right ul li:last-child a{
    border-right: none;
} 
.header-right ul li a:hover{
    color: #000;
}
/* banner部分 */
.banner{
    min-width: 1080px;
}
.banner-wrap{
    height: 500px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    /* 文本不换行 */
}

.banner-wrap .banner-img{
    height: 100%;
    margin:0 auto;
    width: 200%;
    position: relative;
}
.banner-wrap .banner-img li{
    float: left;
    height: 100;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    list-style: none;
}
.clear_fix:after{
    content: "";
    display: block;
    clear:both;
}
.banner-wrap .banner-img li img{
    width: 100%;
    height: 100%;
}
.left-button{
    width: 71px;
    height: 71px;
    position: absolute;
    background-color: #999;
    top:60%;
    margin: 0 auto;
    left:50px;
    cursor: pointer;
}
.left-button img{
    width: 100%;
    height: 100%;
}
.right-button{
    width: 71px;
    height: 71px;
    position: absolute;
    background-color: #999;
    top:60%;
    margin: 0 auto;
    right:50px;
    cursor: pointer;
}
.right-button img{
    width: 100%;
    height: 100%;
}
/* content部分 */
.content-img{
    max-width: 1046px;
    margin: 0 auto;
    height: 260px;
}
.content-img img{
    padding: 60px 10px;
    width:182px;
    height: 130px;
}
.content-img .img-white{
    position: relative;
    bottom: 250px;
    opacity: 0;
}
.content-img .img-white:hover{
    opacity: 1;
}
.content-two{
    width: 100%;
    background-color: gainsboro;
    text-align: center;
    height: 609px;
}
.content-mid{
    max-width: 1060px;
    margin: 0 auto;
}
.content-two .content-header{
    margin: 0 auto;
    width: 1046px;
}
.content-two .content-header div:nth-child(2){
    margin-top: 20px;
    margin-bottom:10px ;
}
.content-two .content-header div:nth-child(3){
    margin-bottom:20px ;
}
.content-two .content-header div span{
    color: #666;
    font-size: 13px;
}
.content-mid img{
    padding: 5px 5px 40px 5px;
}
.content-mid .mid-2{
    position: relative;
    top:-370px;
    opacity: 0;
}
.content-mid .mid-2:hover{
    opacity: 1;
}
/* footer部分 */
.footer{
    text-align: center;
}
.footer-header,.footer-content,.footer-bottom{
    margin: 30px;
}
.footer span{
    color: #666;
    font-size: 16px;
}